# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# IDE / editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated / test files
*.bak
*.mp4
test.txt
test2.txt
prueba.txt
